.landingPage {
  background-color: aqua;
  background-image: url(images/Fondo_pokemons2.jpg);  
  height: 560px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.landingButton {
  background-color: rgba(121, 255, 255);
  border: rgb(3, 156, 28) 6px ;
  border-radius: 20px;
  height: 60px;
  width: 220px;
  font-size: large;
  font-family: cursive;
}

.welcome {
  background-color: rgba(121, 255, 255, 0.8);
  border-radius: 20px;
  border: rgb(3, 156, 28) 6px ;
  width: 800px;
  font-family: cursive;
  font-size: large;
}